.comment{:class => "c" + nesting.to_s}
	.profile
		%img{:src => "/assets/profile_image_sample.jpg"}
	.message
		.username
			- if comment.user.username.blank?
				= comment.user.first_name
			- else
				= comment.user.username	
		= comment.content
		.reply-link
			= link_to "Reply to comment...", post_path(:original_id => comment.id)
			= @original_id.to_s + "and" + comment.id.to_s
- if @original_id.to_s == comment.id.to_s
	.comment{:class => "c" + nesting.to_s}
		= render "submit_comment", :nesting => nesting
- if comment.replies.count > 0
	- nesting = nesting + 1
	- comment.replies.each do |comment|
		= render "comment", :comment => comment, :nesting => nesting