%h2 Recent Blogs
- if @posts.count > 0
	- @posts.each_slice(2) do |slice|
		.row
			- slice.each do |post|					
				.col-sm-6
					.blog_entry
						.img
						%h3 
							%a= link_to post.title, posts_path + '/' + post.id.to_s
						.blog_meta
							%span{:class => 'icon_user'}
								%a= post.user.username
							%span{:class => 'icon_topic'}
								%a= post.category
							%span{:class => 'icon_date'}
								%a= post.created_at.strftime("%d/%m/%Y")
				-if params[:action] == "admin_index"
					%span edit
	%hr
- else
	= "no posts available."